
<div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">Listas de Compras</h2>
        <div *ngFor="let lista of listas" class="card mb-3">
          <div class="card-header">
            Lista ID: {{ lista.id_list }} - Fecha: {{ lista.date_list | date:'shortDate' }}
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID Producto</th>
                  <th scope="col">Nombre del Producto</th>
                  <th scope="col">Nombre Lugar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of lista.products">
                  <td>{{ producto.id_product }}</td>
                  <td>{{ producto.name_product }}</td>
                  <td>{{ obtenerNombreSitio(producto.id_place) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>